.c-record-form{
    justify-self: stretch;
    align-self:   stretch;

    height: 100%;
    width:  100%;

    display: flex;
    flex-direction: column;
   /* min-height: 5rem;*/
}
/*------------------------------------------------------------------*/
/*.record-form-label{
    font-family: Verdana, serif;
    font-size: 1.2rem;
    color: gray;

    display: flex;
    justify-self: center;
    align-self: center;
}*/
/*------------------------------------------------------------------*/
.record-form-textarea{
    height: 3rem;
    width: 90%;

    display: flex;
    justify-self: center;
    align-self: center;


    border: 0.2rem solid bisque;;
    /*background: linear-gradient(to top, #fefcea,#171e231f);*/
    background: white;
    color: gray;
    font-family: Verdana, serif;
    font-size: 1rem;
    min-height: 3rem;

    outline: none;
    resize: none;
}
.record-form-textarea:hover{

    cursor: pointer;
}
/*------------------------------------------------------------------*/
.wall-block__record-form-button{
    height: 2.3rem;
    width:  7rem;

    display: flex;
    align-self: flex-end;
    justify-content: center;

    background-color: #ffc349;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: Verdana, serif;
    font-size: 1.2rem;

    margin-right: 3rem;
    margin-top: 1rem;
    min-height: 2rem;

    outline: none;
}
.wall-block__record-form-button:hover{
    background-color: #b3ff66;
    cursor: pointer;
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/