.c-record-form{
    justify-self: stretch;
    align-self:   stretch;

    height: 100%;
    width:  100%;

    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
   /* min-height: 5rem;*/
}
/*------------------------------------------------------------------*/
.record-form-textarea{
    height: 3rem;
    width: 55%;

    display: flex;
    justify-self: center;
    align-self: center;


    border: 0.2rem solid #eee;
    background: white;
    color: #858686;
    font-family: "Arial Narrow";
    font-size: 1rem;
    min-height: 3rem;

    outline: none;
    resize: none;
}
.record-form-textarea:hover{

    cursor: pointer;
}
/*------------------------------------------------------------------*/
.wall-block__record-form-button{
    height: 2.3rem;
    width: 55%;
    /* display: flex; */
    /* align-self: flex-end; */
    /* justify-content: center; */
    background-color: #0fc19e;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: "Arial Narrow";
    font-size: 1.2rem;
    /* margin-right: 3rem; */
    /* margin-top: 1rem; */
    /* min-height: 2rem; */
    outline: none;
    margin: auto;
}
.wall-block__record-form-button:hover{
    background-color: #338e7c;
    cursor: pointer;
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/