.c-info{
    width: 100%;
    height: 100%;
    justify-self: stretch;
    align-self:   stretch;

    display: grid;

    grid-template-rows:     minmax(auto, 100%);

    grid-template-columns:  minmax(auto, 30%)
                            minmax(auto, 70%);

    min-height: 10rem;
}

.c-info--positioned{
    grid-row:    1;
    grid-column: 1 / span 2;

    justify-self: stretch;
    align-self:   stretch;
    justify-content: center;
}
/*------------------------------------------------------------------*/

.c-info__userpic {
    display: flex;
    justify-content: center;
    align-items: center;

}

.c-info__userpic:hover{
    cursor: pointer;
}
.c-info__userpic--positioned{
    grid-row:    1;
    grid-column: 1;

    justify-self: stretch;
    align-self:   stretch;
}
/*------------------------------------------------------------------*/

.c-info__userpic-img{
    height: 100%;
    width: auto;
    max-height: 6rem;

    border: 0.1rem solid #b3ff66;
    border-radius: 2rem;
    background: white;
    padding: 1rem;
}

/*------------------------------------------------------------------*/
.c-info__short-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.c-info__short-info--positioned{
    grid-row:    1;
    grid-column: 2;

    justify-self: stretch;
    align-self:   stretch;
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
.c-info__user-name{
    font-family: cursive;
    font-size: 2rem;
    color: coral;
}
/*------------------------------------------------------------------*/
.c-info__decorated-label{
    font-family: cursive;
    font-size: 1rem;
    color: gray;
}
/*------------------------------------------------------------------*/