.c-info{
    height: 100%;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

.c-info--positioned{
    justify-self: stretch;
    align-self:   stretch;
    justify-content: center;
}
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
.c-info__short-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.c-info__short-info--positioned{
    background: white;
    width: 35rem;
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

/*------------------------------------------------------------------*/
.c-info__decorated-label{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #0fc19e;
    margin-left: 2rem;
    width: 14rem;
}
/*------------------------------------------------------------------*/
.c-info__status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
/*------------------------------------------------------------------*/
.status__label{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #0fc19e;
}
/*------------------------------------------------------------------*/
.status__input{
    width: 15rem;
    height: 1.5rem;
    border: none;
    background-color: white;
    font-size: 1rem;
    color: #858686;
    text-align: center;
    outline:none;
}
.status__input:hover{
    cursor: pointer;
    border: 0.1rem solid #b3ff66;
}
/*------------------------------------------------------------------*/
::-webkit-input-placeholder {color:#ffc349;}
::-moz-placeholder          {color:#ffc349;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffc349;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffc349;}
/*------------------------------------------------------------------*/
.userStatusBlock-positioned{
    grid-row:    3;
    grid-column: 1/ span 2;

    justify-self: stretch;
    align-self:   stretch;
}
/*------------------------------------------------------------------*/
.c-info__contacts-block{
    width: 35rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background: white;
    word-break: break-all;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.c-info__decorated-about-me,
.contacts-block__decorated-my-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial Narrow";
    font-size: 1.6rem;
    color: #0fc19e;
    margin: 1rem 2rem;
}

.contacts-block__text-about-me{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #858686;
    width: 90%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.contacts-block__text{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #858686;
    width: 90%;
    height: 1.3rem;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.contacts-block__job-searches-block{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.contacts-block__about-me{
    display: flex;
    justify-content: center;
}

.c-info__birth-date,
.c-info__city,
.c-info__education,
.c-info__website,
.contacts-block__form{
    /*width: 100%;*/
    height: 2rem;
    display: flex;
    /*justify-content: space-between;*/
    /*margin-left: 1rem;*/
}

.c-info__birth-date-value,
.c-info__city-value,
.c-info__education-value,
.c-info__website-value{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #858686;
    width: 15rem;
    height: 1rem;
    margin-left: 1rem;
}




.contacts-block__input,
.about-me__input{
    width:  18rem;
    height: 1.5rem;
    border: none;
    background-color: #eee;
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #4e514e;
    text-align: center;
    outline: none;
}

.about-me__button,
.contacts-block__button,
.description-job__button{
    width: 3rem;
    height: 1.8rem;
    border: none;
    background-color: #0fc19e;
    color: white;
    font-family: "Arial Narrow";
    font-size: 0.8rem;
    border-radius: 0.5rem;
    outline: none;
    margin-left: 1rem;
}

.contacts-block{
    width: 100%;
    height: 2rem;
    display: flex;
    /*justify-content: space-between;*/
}
.contacts-block__skype-address{
    background: #0fc19e;
    height: 6rem;
    width: 20rem;
}

.contacts-block__description-job{
    height: 6rem;
    /*display: flex;*/
    /*justify-content: space-between;*/
}
.description-job__form{
  display: flex;
}
.description-job__textarea{
    height: 4rem;
    width: 15rem;
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #4e514e;
    background:  #eee;
    border: none;
}
.job-searches-block__checkbox{
    display: flex;
    margin-right: 14rem;
}

/*---------------------------------------------*/
.user-status__status-block{
    font-family: "Arial Narrow";
    font-size: 1.2rem;
    /*width: 75rem;*/
    height: auto;

    display: flex;
    color: #4e514e;

    word-break: break-all;
    margin-left: 2rem;
}

.status-block__status-title{
    font-family: "Arial Narrow";
    font-size: 1.2rem;
    color: #0fc19e;
}

.user_status__text{
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #4e514e;
    margin-left: 1rem;
}

.user-status__form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-status__input{
    width:  18rem;
    height: 2rem;
    border: none;
    background-color: #eee;
    font-family: "Arial Narrow";
    font-size: 1rem;
    color: #4e514e;
    text-align: center;
    outline: none;
    /*margin: 1rem 1rem;*/
}

.user-status__button{
    width: 3rem;
    height: 1.8rem;
    border: none;
    background-color: #0fc19e;
    color: white;
    font-family: "Arial Narrow";
    font-size: 0.8rem;
    border-radius: 0.5rem;
    outline: none;
}