.c-info{
    height: 100%;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

.c-info--positioned{
    justify-self: stretch;
    align-self:   stretch;
    justify-content: center;
}
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
.c-info__short-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.c-info__short-info--positioned{
    background: white;
    width: 30rem;
    height: 20rem;
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
}

/*------------------------------------------------------------------*/
.c-info__decorated-label{
    font-family: cursive;
    font-size: 1rem;
    color: #0fc19e;
    margin-left: 4rem;
}
/*------------------------------------------------------------------*/
.c-info__status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
/*------------------------------------------------------------------*/
.status__label{
    font-family: cursive;
    font-size: 1rem;
    color: #0fc19e;
}
/*------------------------------------------------------------------*/
.status__input{
    width: 15rem;
    height: 1.5rem;
    border: none;
    background-color: white;
    font-size: 1rem;
    color: #858686;
    text-align: center;
    outline:none;
}
.status__input:hover{
    cursor: pointer;
    border: 0.1rem solid #b3ff66;
}
/*------------------------------------------------------------------*/
::-webkit-input-placeholder {color:#ffc349;}
::-moz-placeholder          {color:#ffc349;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffc349;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffc349;}
/*------------------------------------------------------------------*/
.userStatusBlock-positioned{
    grid-row:    3;
    grid-column: 1/ span 2;

    justify-self: stretch;
    align-self:   stretch;
}
/*------------------------------------------------------------------*/
.c-info__contacts-block{
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background: white;
    word-break: break-all;
    margin-left: 5rem;
    margin-right: 5rem;
}
.contacts-block__decorated-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 1.6rem;
    color: #0fc19e;
}
.about-me__text,
.c-info__residence-value,
.c-info__education-value,
.c-info__website-value,
.contacts-block__skype-address,
.contacts-block__vk-address,
.contacts-block__facebook-address,
.contacts-block__icq-address,
.contacts-block__email-address,
.contacts-block__googlePlus-address,
.contacts-block__twitter-address,
.contacts-block__instagram-address,
.contacts-block__wwhatsApp-address,
.description-job__value {
    font-family: cursive;
    font-size: 1rem;
    color: #858686;
}

.contacts-block__job-searches-block{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
.contacts-block__about-me,
.contacts-block__wwhatsApp,
.contacts-block__instagram,
.contacts-block__twitter,
.contacts-block__googlePlus,
.contacts-block__email,
.contacts-block__icq,
.contacts-block__facebook,
.contacts-block__vk,
.contacts-block__skype,
.c-info__contacts-block,
.contacts-block__description-job{
    display: flex;
    justify-content: space-between;
}