.user-status__block{
     font-family: cursive;
     font-size: 1.2rem;
     /*width: 75rem;*/
     height: auto;

     display: flex;
     color: #4e514e;

     word-break: break-all;
     margin-left: 4rem;
 }

.statusTitle{
    font-family: cursive;
    font-size: 1.2rem;
    color: #0fc19e;
}

.userStatusText{
    font-family: cursive;
    font-size: 1rem;
    color: #4e514e;
}

.userStatusForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputUserStatus{
    width:  18rem;
    height: 2rem;
    border: none;
    background-color: #eee;
    font-family: cursive;
    font-size: 1rem;
    color: #4e514e;
    text-align: center;
    outline: none;
    /*margin: 1rem 1rem;*/
}

.buttonUserStatus{
    width: 3rem;
    height: 1.8rem;
    border: none;
    background-color: #0fc19e;
    color: white;
    font-family: cursive;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    outline: none;
}