.c-sidebar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width:  100%;
    background-color: #ffc349;
    font-size: 1.3rem;

    min-height: 0;
}

.c-sidebar__menu-item {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 4.5rem;
    border: 0.1rem solid #88d23d;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.menu-item__decorated{
    color: white;
    text-decoration: none;
    font-family: cursive;
}
.c-sidebar__menu-item:hover{
    border: 0.1rem solid #b3ff66;
}
.active-item{
    background: #63b946f5;
}