.c-sidebar{
    display: grid;
    grid-template-columns:  minmax(auto, 14.28%)
                            minmax(auto, 14.28%)
                            minmax(auto, 14.28%)
                            minmax(auto, 14.28%)
                            minmax(auto, 14.28%)
                            minmax(auto, 14.28%)
                            minmax(auto, 1fr);
    grid-template-rows: minmax(auto, 100%);
    height: 100%;
    width:  100%;
    background-color: #4e514e;
    font-size: 1.3rem;
    /*min-height: 8rem;*/
    min-width: 58rem;

}

.c-sidebar__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.menu-item__decorated{
    color: white;
    text-decoration: none;
    font-family: "Arial Narrow";
}
.c-sidebar__menu-item:hover{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0fc19e;
}
.active-item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0fc19e;
}

.c-sidebar__profile{
    grid-row:    1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-item__img-block{
    width: 2rem;
    height: 2rem;
}
.img-block__images{
    z-index: 3;
    max-height: 2rem;
    max-width: 2rem;

}
/*------------------------------------------------------------------*/
.c-sidebar__dialog{
    grid-row:    1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*------------------------------------------------------------------*/
.c-sidebar__news{
    grid-row:    1;
    grid-column: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------------------------------------*/
.c-sidebar__music{
    grid-row:    1;
    grid-column: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*------------------------------------------------------------------*/


.c-sidebar__photos{
    grid-row:    1;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-sidebar__users{
    grid-row:    1;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-sidebar__settings{
    grid-row:    1;
    grid-column: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





