.c-sidebar{
    display: flex;
    /*justify-content: space-evenly;*/
    flex-direction: column;
    height: 100%;
    width:  100%;
    background-color: #ffc349;
    font-size: 20px;

    min-height: 0;
}

.c-sidebar__menu-item {
    display: flex;
    align-self: center;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.menu-item__decorated{
    color: white;
    text-decoration: none;
}
.c-sidebar__menu-item:hover{
    border: 1px solid #171e231f;
}
.active-item{
    background: linear-gradient(to top, #fefcea,#171e231f);
}