.c-profile-section {
    /*width: 100%;*/
    height: 100%;
    grid-row: 2;
    grid-column: 2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: minmax(auto, 20rem)
                        minmax(auto, 7rem)
                        minmax(auto, 10rem)
                        minmax(auto, 7rem)
                        minmax(auto, 35rem)
                        minmax(auto, 1fr);
    grid-template-columns: minmax(auto, 1fr);
    background: #f4f4f4;
}

/*------------------------------------------------------------------*/

.c-profile-section__head-image {
    display: flex;
    background-image: url("images/skinali.jpg");
    background-position: center;
    background-size: auto;
    min-height: 6rem;
}

.c-profile-section__head-image--positioned {
    grid-row: 1 / span 2;
    grid-column: 1;
}

/*------------------------------------------------------------------*/
.c-profile-section__greeting-block {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 40rem;
    /*height: 6rem;*/
    /* color: white; */
    background: white;
    margin: auto;
}

.greeting-block__user-name {
    font-family: "Arial Narrow";
    font-size: 2.5rem;
    color: #1d9a82;
    margin: auto;
}

.greeting-block__about-me {
    font-family: "Arial Narrow";
    font-size: 1.3rem;
    color: #858686;
    margin: auto;
    text-align: center;
}

/*------------------------------------------------------------------*/
.c-profile-section__wall-block {
    display: flex;
    flex-direction: column;
}

.c-profile-section__wall-block--positioned {
    grid-row: 6;
    grid-column: 1 / span 2;

    justify-self: stretch;
    align-self: stretch;
    height: 50rem;
}

/*------------------------------------------------------------------*/
.wall-block__record-form--positioned {
    grid-row: 1;
    grid-column: 1;

    justify-self: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.wall-block__posts-block {
    overflow-y: auto;
    max-height: 15rem;;
}

.wall-block__posts-block--positioned {
    grid-row: 2;
    grid-column: 1;

    justify-self: stretch;
    align-self: stretch;
}

/*------------------------------------------------------------------*/
.c-profile-section__info-block {
    max-height: 20rem;
}

.c-profile-section__info-block--positioned {
    grid-row: 5;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*margin: 20rem auto auto;*/
}

.wall-block__notes {
    font-family: "Arial Narrow";
    font-size: 1.6rem;
    color: #0fc19e;
    /*margin-top: 4rem;*/
}


/*------------------------------------------------------------------*/
.c-profile-section__userpic-block {
    grid-row: 2/ span 2;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 15rem;
    z-index: 2;
}

.c-info__userpic {
    /*grid-row: 2/ span 2;*/
    /*grid-column: 1;*/
    /*justify-self: stretch;*/
    /*align-self: stretch;*/
    /*width: 100%;*/
    /*height: 15rem;*/
    /*z-index: 2;*/

}

.c-info__userpic:hover {
    cursor: pointer;
}

.c-info__userpic--positioned {
    grid-row: 2/ span 2;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/*------------------------------------------------------------------*/
.c-info__userpic-img {
    height: 100%;
    width: auto;
    max-height: 12rem;
    border: 0.1rem solid #0fc19e;
    border-radius: 7rem;
    background: white;
    padding: 1rem;
}

/*------------------------------------------------------------------*/
.c-profile-section__block-add-photos {
    grid-row: 2/ span 2;
    grid-column: 1;
    display: flex;
    justify-content: center;

}

.block-add-photos__input {
    /*display: flex;*/
    color: transparent;
}


