.c-dialog-section{
    width: 100%;
    height: 100%;

    grid-row:    2;
    grid-column: 2;

    justify-self: stretch;
    align-self:   stretch;


    display: grid;
    grid-template-rows:     minmax(auto, 5rem)
                            minmax(auto, 20rem)
                            minmax(auto, 10rem)
                            minmax(auto, 5rem);
    grid-template-columns:  minmax(auto, 30%)
                            minmax(auto, 70%);
    /*margin: auto;*/

    background: #f4f4f4;
    /*box-shadow: 0 0 2rem sandybrown;*/
}
/*------------------------------------------------------------------*/
.c-dialog-section__label-friends,
.c-dialog-section__label-dialogs{
    justify-self: stretch;
    align-self:   stretch;

    font-family: "Arial Narrow";
    font-size: 1.3rem;
    color: #0fc19e;
    /*background: linear-gradient(to top, #fefcea,#f1da366e);*/
    /*border: 0.1rem solid bisque;*/
    /*border-radius: 2rem;*/
    /*padding: 1rem;*/
}

.c-dialog-section__label-friends:hover,
.c-dialog-section__label-dialogs:hover{
    color: #338e7c;
    cursor: pointer;
}

.c-dialog-section__label-friends--positioned{
    align-self:   stretch;

    grid-row:    1;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center
}
/*------------------------------------------------------------------*/
.c-dialog-section__border-line{
    grid-row:    1 / span 3;
    grid-column: 1;

    background: #0fc19e;
    height: 60vh;
    width: 0.1rem;

    display: flex;
    justify-self: flex-end;
    align-self: center;

}
/*------------------------------------------------------------------*/
.c-dialog-section__dialogs,
.c-dialog-section__messages{
    display: flex;
    flex-direction: column;
}

.c-dialog-section__dialogs,
.c-dialog-section__messages:hover{
    cursor: pointer;
}
/*------------------------------------------------------------------*/

.c-dialog-section__dialogs--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2;
    grid-column: 1;

}
/*------------------------------------------------------------------*/
.c-dialog-section__messages{}
.c-dialog-section__messages--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2;
    grid-column: 2;
    overflow-y: auto;
    max-height: 22rem;
}
/*------------------------------------------------------------------*/

.c-dialog-section__label-dialogs--positioned{
    align-self:   stretch;

    grid-row:    1;
    grid-column: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

}
/*------------------------------------------------------------------*/
.c-dialog-section__record-form{}
.c-dialog-section__record-form--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    3;
    grid-column: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-friend{
    justify-self: stretch;
    align-self: stretch;

    display: grid;
    grid-template-rows:     minmax(auto, 100%);
    grid-template-columns:  minmax(auto, 20%)
                            minmax(auto, 80%);

    height: 5rem;
    text-decoration: none;

}
.c-friend__userpic{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userpic-friend{
    max-height: 4rem;
    min-width: 3rem;
    border: 0.1rem solid #0fc19e;
    border-radius: 2rem;
    height: 4rem;
    width: 4rem;
    background-size: contain;
    overflow: hidden;
    background: white;
 }
.c-friend__name{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1;
    grid-column: 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: "Arial Narrow";
    font-size: 1.2rem;
    color: gray;
}
/*------------------------------------------------------------------*/
.friend-chat-log__message{
    justify-self: stretch;
    align-self:   stretch;

    display: grid;
    grid-template-rows:    minmax(auto, 70%)
                           minmax(auto, 30%);
    grid-template-columns: minmax(auto, 10%)
                           minmax(auto, 80%)
                           minmax(auto, 10%);

    width: 90%;
    border: 1px solid #ffc34942;
    border-radius: 2rem;
    background: linear-gradient(to top, #fefcea,#b3ff6657);
    margin-bottom: 0.5rem;

}
/*------------------------------------------------------------------*/
.message__userpic{
    grid-row:    1;
    grid-column: 1;

    display: flex;
    justify-self: center;
    align-self:   center;
    justify-content: center;
    align-content: center;

    border: 0.1rem solid #0fc19e;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    background-size: contain;
    overflow: hidden;

}

.userpic{
    height: 100%;
    width: auto;
    /*max-height: 2rem;*/

}

/*------------------------------------------------------------------*/
.message__text{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1 / span 2;
    grid-column: 2;

    display: flex;
    justify-content: flex-start;
    align-items:     center;

    font-family: "Arial Narrow";
    font-size: 1rem;
    color: gray;

    word-break: break-all;
}

/*------------------------------------------------------------------*/
.message__time{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1 / span 2;
    grid-column: 3;

    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;

    font-family: "Arial Narrow";
    font-size: 0.7rem;
    color: black;

    min-height: 1.5rem;
}
/*------------------------------------------------------------------*/
.message__username{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Arial Narrow";
    font-size: 0.8rem;
    color: black;
}
/*------------------------------------------------------------------*/
.c-friend__selected{
    background: #0fc19e;
}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
