.c-dialog-section{
    grid-row:    2 / span 1;
    grid-column: 2 / span 1;

    justify-self: stretch;
    align-self:   stretch;


    display: grid;
    grid-template-rows:     minmax(auto, 10%)
                            minmax(auto, 70%)
                            minmax(auto, 20%);
    grid-template-columns:  minmax(auto, 30%)
                            minmax(auto, 70%);

   /* background: linear-gradient(to top, #fefcea, #f1da36);*/
}
/*------------------------------------------------------------------*/
.c-dialog-section__label-friends,
.c-dialog-section__label-dialogs{
    justify-self: stretch;
    align-self:   stretch;

    font-family: Verdana;
    font-size: 1.5rem;
    color: gray;
    background: linear-gradient(to top, #fefcea,#171e231f);
    border: 0.1rem solid #ececec;
    border-radius: 2rem;
    padding: 1rem;
}

.c-dialog-section__label-friends:hover,
.c-dialog-section__label-dialogs:hover{
    background: linear-gradient(to top, #fefcea, #b3ff66);
    cursor: pointer;
}

.c-dialog-section__label-friends--positioned{
    align-self:   stretch;

    grid-row:    1 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center
}
/*------------------------------------------------------------------*/
.c-dialog-section__border-line{
    grid-row:    1 / span 2;
    grid-column: 1 / span 1;

    background-color: gray;
    height: 60vh;
    width: 0.1rem;

    display: flex;
    justify-self: flex-end;
    align-self: center;

}
/*------------------------------------------------------------------*/
.c-dialog-section__dialogs,
.c-dialog-section__messages{
    display: flex;
    flex-direction: column;
}

.c-dialog-section__dialogs,
.c-dialog-section__messages:hover{
    cursor: pointer;
}
/*------------------------------------------------------------------*/

.c-dialog-section__dialogs--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2 / span 1;
    grid-column: 1 / span 1;

}
/*------------------------------------------------------------------*/
.c-dialog-section__messages{}
.c-dialog-section__messages--positioned{
    justify-self: stretch;
    align-self:   stretch;
;
    grid-row:    2 / span 1;
    grid-column: 2 / span 1;
}
/*------------------------------------------------------------------*/

.c-dialog-section__label-dialogs--positioned{
    align-self:   stretch;

    grid-row:    1 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

}
/*------------------------------------------------------------------*/
.c-dialog-section__record-form{}
.c-dialog-section__record-form--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    3 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
}





.c-friend{
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    align-items: center;

}
.c-friend__userpic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userpic-friend{
    max-height: 4rem;
    border: 0.1rem solid #88d23de6;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    background-size: contain;
    overflow: hidden;
    background: white;
 }
.c-friend__name{
    font-family: Verdana;
    font-size: 1.2rem;
    color: gray;
}
/*------------------------------------------------------------------*/
.friend-chat-log__message{
    justify-self: stretch;
    align-self:   stretch;

    display: grid;
    grid-template-rows:    minmax(auto, 70%)
                           minmax(auto, 30%);
    grid-template-columns: minmax(auto, 10%)
                           minmax(auto, 80%)
                           minmax(auto, 10%);

    width: 90%;
    border: 1px solid #ffc34942;
    border-radius: 2rem;
    background: linear-gradient(to top, #fefcea,#b3ff6657);
    margin-bottom: 0.5rem;

}
/*------------------------------------------------------------------*/
.message__userpic{

    grid-row:    1 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    justify-self: center;
    align-self:   center;
    justify-content: center;
    align-content: center;

    border: 0.1rem solid #88d23de6;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    background-size: contain;
    overflow: hidden;

}

.userpic{
    height: 100%;
    width: auto;
    max-height: 2rem;

}

/*------------------------------------------------------------------*/
.message__text{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1 / span 2;
    grid-column: 2 / span 1;

    display: flex;
    justify-content: flex-start;
    align-items:     flex-end;

    font-family: Verdana;
    font-size: 1rem;
    color: gray;

    word-break: break-all;
}

/*------------------------------------------------------------------*/
.message__time{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    1 / span 2;
    grid-column: 3 / span 1;

    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;

    font-family: Verdana;
    font-size: 0.7rem;
    color: black;

    min-height: 1.5rem;
}
/*------------------------------------------------------------------*/
.message__username{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2 / span 1;
    grid-column: 1 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana;
    font-size: 0.8rem;
    color: black;
}
/*------------------------------------------------------------------*/
.c-friend__selected{
    background: #b3ff66;

}
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
