.c-sidebar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width:  100%;
    background-color: #28bad4;
    color: blue;
    font-size: 1.2rem;


    min-height: 20rem;
}

.c-sidebar__decorated:hover{
    color: white;
}