.c-login-section-wrapper{
    justify-self: stretch;
    align-self: stretch;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.c-login-section{
    display: grid;

    grid-template-rows:     minmax(auto, 20%)
                            minmax(auto, 20%)
                            minmax(auto, 10%)
                            minmax(auto, 15%)
                            minmax(auto, 35%);

    grid-template-columns:  minmax(auto, 100%);

    height: 30rem;
    width: 40rem;
    min-height: 15rem;
    min-width: 40rem;

    /*margin: auto;*/
    background:  #0fc19e;
    border-radius: 3rem;
    box-shadow: 0 0 2rem #858686;
}
/*------------------------------------------------------------------*/
.c-login-section__index-login-form--positioned{
    grid-row:    1;
    grid-column: 1;

    min-height: 4rem;
}
/*------------------------------------------------------------------*/

.c-login-section__index-password-form--positioned{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    2;
    grid-column: 1;

    min-height: 4rem;
}
/*------------------------------------------------------------------*/
.button-box__button{
    display: flex;
    justify-content: center;

    width: 10rem;
    height: 3rem;
    border: none;
    background-color: white;
    color: #4e514e;
    font-family: cursive;
    font-size: 1.3rem;
    border-radius: 0.5rem;

    outline:none;

}
.button-box__button:hover {
    color: #0fc19e;
    cursor: pointer;
}
/*------------------------------------------------------------------*/
.c-login-section__button-box{
    justify-self: stretch;
    align-self:   stretch;

    grid-row:    3;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items:     flex-end;

    min-height: 4rem;
}
/*------------------------------------------------------------------*/
.checkbox-label{
    font-family: cursive;
    font-size: 0.8rem;
    color: #4e514e;
    margin-right: 5rem;
}
/*------------------------------------------------------------------*/
.index-column__index-login{
    color: #858686;
}

.index-column__index-login:hover,
.index-column__index-registration:hover{
    cursor: pointer;
}
/*------------------------------------------------------------------*/

.input-form{
    height: 100%;
    width: 100%;

    justify-self: stretch;
    align-self:   stretch;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.input-form__label {
    justify-content: center;
    align-self: center;

    font-family: "Arial Narrow";
    font-size: 2rem;
    color: #4e514e;

}
/*------------------------------------------------------------------*/
.input-form__input{
    justify-content: center;
    align-self: center;

    width: 25rem;
    height: 3rem;
    border: none;
    background-color: white;
    font-family: cursive;
    font-size: 1.4rem;
    color: #0fc19e;
    text-align: center;
    outline:none;
}
.input-form__input:focus{
    border: 0.1rem solid #ffc349 ;
}

::-webkit-input-placeholder {color:#ffc349;}
::-moz-placeholder          {color:#ffc349;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffc349;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffc349;}

.input-form__input:hover{
    cursor: pointer;
}

/*------------------------------------------------------------------*/
/*.c-login-section__registration-button{*/
    /*width: 13rem;*/
    /*height: 2rem;*/

    /*grid-row:    6;*/
    /*grid-column: 1;*/

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*justify-self: center;*/
    /*!*align-self: center;*!*/
    /*background: #ffc349;*/
    /*color: white;*/
    /*font-family: cursive;*/
    /*font-size: 1rem;*/
    /*border-radius: 0.5rem;*/
    /*border: none;*/
    /*outline: none;*/
/*}*/

/*.c-login-section__registration-button:hover{*/
    /*color: #b3ff66;*/
/*}*/
/*------------------------------------------------------------------*/
.error-block{
    grid-row: 4 / span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;

}
.error-message{
    width:  25rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fd0606cc;
    color: white;
    font-family: "Arial Narrow";
    font-size: 0.9rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
/*------------------------------------------------------------------*/
.captcha-block{
    grid-row:    5 ;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;

}
.captcha-block__images{
}
.captcha-block__input{
    justify-content: center;
    align-self: center;

    width:  10rem;
    height: 2rem;
    border: none;
    background-color: #e6ffcc;
    font-size: 1.4rem;
    color: grey;
    text-align: center;
    outline:none;
    margin-top: 1rem;
}
.captcha-block__button{
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 2rem;
    border: none;
    background-color: #b3ff66;
    color: white;
    font-family: "Arial Narrow";
    font-size: 1rem;
    border-radius: 0.5rem;
    outline: none;
}
/*-----------animation-----------------------------*/
.container {
    left: 50%;
    margin: auto -50px;
    position: absolute;
    top: 50%;
}
.swing div {
    border-radius: 50%;
    float: left;
    height: 1em;
    width: 1em;
}
.swing div:nth-of-type(1) {
    background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
    background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
    background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
    background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
    background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
    background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
    background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
    background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
    background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
    background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
    background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
    background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
    background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
    background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
    clear: left;
    padding-top: 1.5em;
}
.shadow div {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    float: left;
    width: 1em;
    height: .25em;
    border-radius: 50%;
    background: #e3dbd2;
}
.shadow .shadow-l {
    background: #d5d8d6;
}
.shadow .shadow-r {
    background: #eed3ca;
}

.hide {
    display: none;
}
.show {
    display: inline-block;
}
@-webkit-keyframes ball-l {
    0%, 50% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
    }
    100% {
        -webkit-transform: rotate(50deg) translateX(-2.5em);
        transform: rotate(50deg) translateX(-2.5em);
    }
}
@keyframes ball-l {
    0%, 50% {
        -webkit-transform: rotate(0) translate(0);
        transform: rotate(0) translateX(0);
    }
    100% {
        -webkit-transform: rotate(50deg) translateX(-2.5em);
        transform: rotate(50deg) translateX(-2.5em);
    }
}
@-webkit-keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(2.5em);
        transform: rotate(-50deg) translateX(2.5em);
    }
    50%,
    100% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
    }
}
@keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(2.5em);
        transform: rotate(-50deg) translateX(2.5em);
    }
    50%,
    100% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0)
    }
}
@-webkit-keyframes shadow-l-n {
    0%, 50% {
        opacity: .5;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: .125;
        -webkit-transform: translateX(-1.57em);
        transform: translateX(-1.75em);
    }
}
@keyframes shadow-l-n {
    0%, 50% {
        opacity: .5;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: .125;
        -webkit-transform: translateX(-1.75);
        transform: translateX(-1.75em);
    }
}
@-webkit-keyframes shadow-r-n {
    0% {
        opacity: .125;
        -webkit-transform: translateX(1.75em);
        transform: translateX(1.75em);
    }
    50%,
    100% {
        opacity: .5;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes shadow-r-n {
    0% {
        opacity: .125;
        -webkit-transform: translateX(1.75em);
        transform: translateX(1.75em);
    }
    50%,
    100% {
        opacity: .5;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing-l {
    -webkit-animation: ball-l .425s ease-in-out infinite alternate;
    animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
    -webkit-animation: ball-r .425s ease-in-out infinite alternate;
    animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
    -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
    animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
    -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
    animation: shadow-r-n .425s ease-in-out infinite alternate;
}





