.templateWrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 100%);
    grid-template-rows: minmax(auto, 5rem)
                        minmax(auto, 1fr);
                        /*minmax(auto, 8%);*/
    /*background: bisque;*/
    min-height: 0;
}

.headerWrapper{
    grid-row:    1;
    grid-column: 1;
    display: flex;
    /*margin-bottom: 10px;*/
    /*min-height: 5rem;*/
    justify-self: stretch;
    align-self:   stretch;

}

/*.footerWrapper{*/
    /*grid-row: 3;*/
    /*grid-column: 1;*/
    /*display: flex;*/
/*}*/

.children{
    width: 100%;
    height: 40rem;

    grid-row:    2;
    grid-column: 1;

    justify-self: stretch;
    align-self:   stretch;
}