
.App{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 15%)
                         minmax(auto, 85%);
  grid-template-rows: minmax(auto, 10%)
                      minmax(auto, 1fr);
  /*background: bisque;*/
  min-height: 0;
}
.wraper-header{
  grid-row:    1;
  grid-column: 1 / span 2;
  display: flex;
  /*margin-bottom: 10px;*/

}
.wraper-sidebar{
  grid-row: 2;
  grid-column: 1;
  display: flex;


}
.path-error{
  color: red;
}