
.App{
  /*height: 380vh;*/
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 0;
}

.path-error{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 5rem;
  color: #dc341d;
}
.header-error{
  display: none;
}