
.App{
  height: 120vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 15%)
                         minmax(auto, 85%);
  grid-template-rows: minmax(auto, 10%)
                      minmax(auto, 1fr)
                      minmax(auto, 13%);
  /*background: bisque;*/
  min-height: 0;
}
.wraper-header{
  grid-row:    1;
  grid-column: 1 / span 2;
  display: flex;
  /*margin-bottom: 10px;*/

}
.wraper-sidebar{
  grid-row: 2;
  grid-column: 1;
  display: flex;


}
.wraper-footer{
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
}
.path-error{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 10rem;
  color: #dc341d;
}
.header-error{
  display: none;
}