
.newsSection{
    grid-row:    2;
    grid-column: 2;

    justify-self: stretch;
    align-self:   stretch;

    display: flex;
    justify-content: center;
    background: #f4f4f4;
}
.newsLabel{
    font-family: "Arial Narrow";
    font-size: 3rem;
    color: #0fc19e;
}